
<title>About</title>
<div id="content">
  <h1 class="title">About</h1>
  <p>This route brought to you by <a href="https://htmx.org">htmx</a> and 
        <a href="https://www.slimframework.com/">Slim</a>. Syling provided by <a href="https://bulma.io/">Bulma</a>.
  </p>
  <button class="button" hx-get="/" hx-target="#back" hx-swap="outerHTML" hx-push-url="true">Back</button>
</div>
