{% extends "layout.twig" %}

{% block title %} Users {% endblock %}

{% block content %}

<div class="container">
    <h1 class="title">USERS</h1>
    
    <ul>
        {% for user in users %}
        <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
    <hr>
    <button hx-get="/" hx-target="#content" hx-swap="outerHTML" hx-push-url="true">Back</button>
</div>

{% endblock %}